body {
    padding: 0 30rem;
}

.head {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.decorated {
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
}

.decorated span {
    position: relative;
    display: inline-block;
}

.decorated span:before,
.decorated span:after {
    content: '';
    position: absolute;
    top: 50%;
    color: #9d9d9d;
    border-bottom: 2px solid;
    width: 100vw;
    margin: 0 20px;
}

.decorated span:before {
    right: 100%;
}

.decorated span:after {
    left: 100%;
}

.add-list {
    display: flex;
    color: rgb(93, 93, 93);
    font-size: 1.3rem;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.icon {
    background-color: red;
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
    font-size: 1.3rem;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
}

.card {
    width: 17rem;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.623);
    height: 23rem;
    border: 3px solid rgba(247, 104, 104, 0.8);
    border-radius: 0.8rem;
    display: block;
    margin: 0 auto;
}


.card-heading {
    color: rgb(247, 108, 108);
    font-size: 2rem;
    margin: 1.5rem 1.1rem;
    font-weight: 100;
    padding: 0.2rem;
    border-bottom: 1px solid grey;
}

.card-para {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2.2rem 1rem;
    text-decoration: line-through;
}

.check {
    font-size: 1.2rem;
    margin-right: 3rem;

}


.pending {
    margin: 0.5rem;
    font-size: 1.2rem;
}